# .gitignore
# ==========
#
# Copying
# -------
#
# Copyright (c) 2020 none authors and contributors.
#
# This file is part of the *none* project.
#
# None is a free software project. You can redistribute it and/or
# modify it following the terms of the MIT License.
#
# This software project is distributed *as is*, WITHOUT WARRANTY OF ANY
# KIND; including but not limited to the WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE and NONINFRINGEMENT.
#
# You should have received a copy of the MIT License along with
# *none*. If not, see <http://opensource.org/licenses/MIT>.
#

# Editors
# -------

# Emacs
# ^^^^^

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org mode.
.org-id-locations
*_archive

# Flymake mode.
*_flymake.*

# Eshell files.
/eshell/history
/eshell/lastdir

# ELPA packages.
/elpa/

# Reftex files.
*.rel

# AUCTeX auto folder.
/auto/

# Cask packages.
.cask/


# JetBrains
# ^^^^^^^^^

*.iml
.idea/
*.ipr
*.iws

# Kate
# ^^^^

.*.kate-swp
.swp.*


# SublimeText
# ^^^^^^^^^^^

# Cache files for sublime text.
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific.
*.sublime-workspace
*.sublime-project

# SFTP configuration file.
sftp-config.json


# Vim
# ^^^

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist


# Xcode
# ^^^^^

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate


# Python
# ------


# Byte-compiled / optimized / DLL files
# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

__pycache__/
*.py[cod]


# Distribution / packaging
# ^^^^^^^^^^^^^^^^^^^^^^^^

.Python
pyenv/
build/
dist/
*.egg-info/
.installed.cfg
*.egg


# Documentation
# ^^^^^^^^^^^^^

docs/_build/


# Installer logs
# ^^^^^^^^^^^^^^

pip-log.txt
pip-delete-this-directory.txt


# Unit test / coverage reports
# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.hypothesis/
nosetests.xml
coverage.xml
*,cover


# Translations
# ^^^^^^^^^^^^

*.mo
*.pot


# Systems
# -------


# Linux
# ^^^^^

.Trash-*
.directory


# MacOS
# ^^^^^

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails.
._*

# Files that might appear in the root of a volume.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share.
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Windows
# ^^^^^^^

# Windows image file caches.
Thumbs.db
ehthumbs.db

# Folder config file.
Desktop.ini

# Recycle Bin used on file shares.
$RECYCLE.BIN/

# Windows Installer files.
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts.
*.lnk

# Backup files.
*.bak
